.root {
  background-color: var(--mantine-color-kelp-6);
  color: var(--mantine-color-dark-6);
  border: 1px solid var(--mantine-color-kelp-6);
  font-weight: 500;
  min-width: rem(295px);
  height: rem(48px);
  font-size: rem(16px);
  padding: 0 rem(32px);
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  border-radius: rem(4px);

  &:hover {
    background-color: var(--mantine-color-kelp-5);
    border: 1px solid var(--mantine-color-kelp-5);
    color: var(--mantine-color-dark-7);
  }

  &:disabled {
    background-color: var(--mantine-color-dark-6);
    border: 1px solid var(--mantine-color-dark-6);
    color: var(--mantine-color-dark-4);
  }

  &[data-variant='secondary'] {
    background-color: var(--mantine-color-dark-7);
    border: 1px solid var(--mantine-color-kelp-6);
    color: var(--mantine-color-kelp-6);
    font-weight: 500;
    &:hover {
      border: 1px solid var(--mantine-color-kelp-5);
      color: var(--mantine-color-kelp-5);
    }

    &:disabled {
      /* background-color: var(--mantine-color-white); */
      border: 1px solid var(--mantine-color-dark-5);
      color: var(--mantine-color-dark-5);
    }
  }

  &[data-variant='action'] {
    min-width: auto;
    height: rem(28px);
    font-size: rem(14px);
    font-weight: 400;

    padding: rem(4px) rem(4px);

    background-color: var(--mantine-color-dark-7);
    color: var(--mantine-color-dark-2);
    border: 1px solid var(--mantine-color-dark-7);

    &:disabled {
      color: var(--mantine-color-dark-4);
    }

    &:hover {
      background-color: var(--mantine-color-dark-6);
      border: 1px solid var(--mantine-color-dark-6);
    }
  }

  &[data-size='sm'] {
    min-width: auto;
    height: rem(40px);
    font-size: rem(14px);
    font-weight: 500;

    padding: rem(10px) rem(20px);
  }
  &[data-size='xs'] {
    min-width: auto;
    height: rem(28px);
    font-size: rem(14px);
    font-weight: 400;

    padding: rem(4px) rem(12px);
  }
}

.action {
  background-color: var(--mantine-color-dark-7);

  &:hover {
    background-color: var(--mantine-color-dark-6);
  }
}
