.root {
  background-color: var(--mantine-color-dark-7);
  border: 1px solid var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-lg);
  border-radius: rem('12px');
  &[data-variant='inner'] {
    padding: var(--mantine-spacing-sm);
  }

  &[data-variant='comment'] {
    padding: var(--mantine-spacing-md);
    border: 1px solid var(--mantine-color-dark-5);
  }

  &[data-variant='bold'] {
    border: 1px solid var(--mantine-color-dark-5);
  }

  &[data-variant='solid'] {
    border: 1px solid transparent;
    background-color: var(--mantine-color-kelp-10);
    p {
      color: var(--mantine-color-dark-2);
    }
  }

  &[data-variant='kelp-outline'] {
    border: 1px solid var(--mantine-color-kelp-6);
  }

  &[data-variant='purple-outline'] {
    border: 1px solid var(--mantine-color-purple-6);
    /* background-color: var(--mantine-color-white); */
  }
}
