.root {
  padding: var(--mantine-spacing-md);
  border: 1px solid var(--mantine-color-dark-6);
  font-size: var(--mantine-font-size-md);
  background-color: var(--mantine-color-dark-7);

  &:focus {
    border-color: var(--mantine-color-kelp-6);
  }
}

.radio {
  border: 2px solid var(--mantine-color-dark-5);
  background-color: var(--mantine-color-dark-6);

  &:disabled {
    border: 2px solid var(--mantine-color-dark-5);
    background-color: var(--mantine-color-dark-6);
  }
}

.radioIcon {
  color: var(--mantine-color-dark-6);
}
