.root {
  font-family: 'DM Sans', sans-serif;
  color: var(--mantine-color-dark-2);
  /* color: red; */

  &[data-c='kelp'] {
    color: var(--mantine-color-kelp-6);
  }

  &[data-c='purple'] {
    color: var(--mantine-color-purple-6);
  }

  &[data-c='highlight'] {
    color: var(--mantine-color-dark-1);
  }

  &[data-variant='label'] {
    letter-spacing: -0.8px;
    font-weight: 500;
  }
}
