.root {
  font-family: 'DM Sans', sans-serif;
  color: var(--mantine-color-dark-6);

  &[data-c='kelp'] {
    color: var(--mantine-color-kelp-5);
  }

  &[data-c='purple'] {
    color: var(--mantine-color-purple-6);
  }

  &[data-c='subtle'] {
    color: var(--mantine-color-dark-4);
  }
}
