@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
  overflow-y: scroll;
}

p {
  word-break: break-word;
  overflow-wrap: break-word;
}

.ws-pre-wrap {
  white-space: pre-wrap;
}

a {
  color: inherit;
  text-decoration: none;
}

:root[data-mantine-color-scheme='dark'] {
  --mantine-color-body: #0d0d0d;
}
